<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{ page.title }} | Scallion Studios</title>
    {% else %}
    <title>Scallion Studios</title>
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <div class="home-link">
                <a href="/">Scallion Studios</a>
            </div>
            <div class="other-links">
                <a href="https://scallionstudios.etsy.com">Etsy Shop</a>
            </div>
        </nav>
    </header>
    <div class="main-content">
        {% if page.title %}
        <h1 class="title">{{ page.title }}</h1>
        {% endif %}
        <section>
            {{ content }}
        </section>
    </div>
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="https://scallionstudios.etsy.com">Etsy Shop</a>
                </li>
            </ul>
        </nav>
        <div>
            &copy; Scallion Studios
        </div>
    </footer>
</div>
</body>
</html>